  <h1>BulkOrder</h1>
<body>
  <form [formGroup]="bulkForm" (ngSubmit)="addtocart(bulkForm.value)">
  <div> 
    <label>ProductSku</label>
    <input type="text" formControlName="productSku" (change)="setvalues()">
  </div>
  <div> 
    <label>Quantity</label>
    <input type="text" formControlName="qty" (change)="setvalues()">
  </div>
  <div> 
    <label>ProductSku</label>
    <input type="text" formControlName="productSku1" (change)="setvalues()">
  </div>
  <div> 
    <label>Quantity</label>
    <input type="text" formControlName="qty1" (change)="setvalues()">
  </div>
  <div> 
    <label>ProductSku</label>
    <input type="text" formControlName="productSku2" (change)="setvalues()">
  </div>
  <div> 
    <label>Quantity</label>
    <input type="text" formControlName="qty2" (change)="setvalues()">
  </div>
  <div> 
    <label>ProductSku</label>
    <input type="text" formControlName="productSku3" (change)="setvalues()">
  </div>
  <div> 
    <label>Quantity</label>
    <input type="text" formControlName="qty3" (change)="setvalues()">
  </div>
  <div> 
    <label>ProductSku</label>
    <input type="text" formControlName="productSku4" (change)="setvalues()">
  </div>
  <div> 
    <label>Quantity</label>
    <input type="text" formControlName="qty4" (change)="setvalues()">
  </div>
  <button  type="submit" color="danger" expand="block" *ngIf="this.priceshow==true">Add to Cart</button>
</form>
</body>
