<span>{{this.Logo}}</span>
<div class="user">
  
    <label>Name:</label>
    <label>{{this.email[0]?.firstname}}{{this.email[0]?.lastname}}</label>
</div>
<div>
    <label>Email:</label>
    <label>{{this.email[0]?.email}}</label>
</div>

    



 







