<div>
    <h4 class="dialog-headline"><label>Editquote</label>
        <span>
            <div class="close" mat-dialog-close>
                <span class="material-icons">
                    close
                </span>
            </div>
    </span></h4>

</div>
<form [formGroup]="editquoteForm" (ngSubmit)="editquotes(editquoteForm.value)">
    <div>
        <label>QuoteId</label>
        <input type="text" formControlName="quote_id">
    </div><br>
    <div>
        <label>Description</label>
        <input type="text" formControlName="conversation">
    </div><br>
    <div>
        <label>QuoteQuantity</label>
        <input type="text" formControlName="quote_qty">
    </div><br>
    <div>
        <label>QuotePrice</label>
        <input type="text" formControlName="quote_price">
    </div><br>
    <button mat-raised-button color="primary" type="submit">Update</button>
</form>