<mat-toolbar color="blue">
    My Quotes
  </mat-toolbar>
<div>
    <button mat-raised-button color="primary" (click)="gotoquoteconversation()">View QuoteConversation</button>
    <div *ngFor="let quote of quotelist;let i=index">
        <header>
            <h4>{{quote.product_name}}</h4>
            <p>Price:{{quote.product_price}}, QuoteQty:{{quote.quote_qty}}</p>
        </header>
        <div>

            <li> <label *ngIf="this.priceshow==true">QuotePrice:{{quote.quote_price}}</label></li>

            <li> <label>Description:{{quote.quote_desc}}</label></li>

            <li> <label>Created on:{{quote.created_at}},Status:{{quote.status}}</label></li>

        </div>
        <div>
            <button mat-raised-button color="primary" (click)="editquote(quote.quote_desc,quote.quote_qty,quote.quote_price)">Edit</button>
            <button mat-raised-button color="warn" (click)="deletequote()">Delete</button>
            <input type="checkbox" *ngIf="this.addres==true" (change)="passParams($event,quote)">
            <input type="checkbox" [(ngModel)]="masterCheck" *ngIf="this.masterCheck==true" (change)="passParams($event,quote)">
        </div>
    </div>
    <div *ngIf="this.nodata==true">
        <div>
            <p>You didnt created any quotes
            </p>
        </div>
    </div>
</div>
<!--*ngIf="this.addres==true"
[(ngModel)]="masterCheck" *ngIf="this.masterCheck==true"
(click)="editquote(quote.quote_desc,quote.quote_qty,quote.quote_price)
-->