<h4>Login</h4>
<form action="" class="aa-login-form" [formGroup]="loginForm">
    <label for="">Username or Email address<span>*</span></label>
    <input type="text" placeholder="Username or email" formControlName="username">
    <label for="">Password<span>*</span></label>
    <input type="password" placeholder="Password" formControlName="password">
    <button type="submit" class="aa-browse-btn" (click)="loginSubmit()">Login</button>
    <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
    <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
</form>