<p>quickadd works!</p>
<div class="aa-search-box">
    <form  [formGroup]="quickadd" (ngSubmit)="search(quickadd.value)">
      <input type="text"  formControlName="searching"  placeholder="Search here ex. 'man' ">
      <button type="submit"><span class="fa fa-search"></span></button>
      
    </form>
    <ul class="aa-product-catg" *ngFor="let data of items;let i=index">
        <!-- start single product item -->
        <li>
            <span class="aa-product-title"><a>{{data.name}}</a></span>
            <span class="aa-product-price">${{data.price}}</span>    
        <img src='{{data.image}}' alt="polo shirt img">
        <button>Add To Cart</button>
      </li>
                                       
      </ul>
  </div>
  <ngx-spinner  size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>  