<!-- <section id="menu">
  <div class="container">
    <div class="menu-area">
   
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
         
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Men <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Casual</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Formal</a></li>
                <li><a href="#">Standard</a></li>
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Trousers</a></li>
                <li><a href="#">And more.. <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sleep Wear</a></li>
                    <li><a href="#">Sandals</a></li>
                    <li><a href="#">Loafers</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Women <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Kurta & Kurti</a></li>
                <li><a href="#">Trousers</a></li>
                <li><a href="#">Casual</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Formal</a></li>
                <li><a href="#">Sarees</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">And more.. <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sleep Wear</a></li>
                    <li><a href="#">Sandals</a></li>
                    <li><a href="#">Loafers</a></li>
                    <li><a href="#">And more.. <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Rings</a></li>
                        <li><a href="#">Earrings</a></li>
                        <li><a href="#">Jewellery Sets</a></li>
                        <li><a href="#">Lockets</a></li>
                        <li class="disabled"><a class="disabled" href="#">Disabled item</a></li>
                        <li><a href="#">Jeans</a></li>
                        <li><a href="#">Polo T-Shirts</a></li>
                        <li><a href="#">SKirts</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Make Up</a></li>
                        <li><a href="#">Hair Care</a></li>
                        <li><a href="#">Perfumes</a></li>
                        <li><a href="#">Skin Care</a></li>
                        <li><a href="#">Hand Bags</a></li>
                        <li><a href="#">Single Bags</a></li>
                        <li><a href="#">Travel Bags</a></li>
                        <li><a href="#">Wallets & Belts</a></li>
                        <li><a href="#">Sunglases</a></li>
                        <li><a href="#">Nail</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Kids <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Casual</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Formal</a></li>
                <li><a href="#">Standard</a></li>
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Trousers</a></li>
                <li><a href="#">And more.. <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sleep Wear</a></li>
                    <li><a href="#">Sandals</a></li>
                    <li><a href="#">Loafers</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Digital <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Camera</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Tablet</a></li>
                <li><a href="#">Laptop</a></li>
                <li><a href="#">Accesories</a></li>
              </ul>
            </li>
            <li><a href="#">Furniture</a></li>
            <li><a href="blog-archive.html">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="blog-archive.html">Blog Style 1</a></li>
                <li><a href="blog-archive-2.html">Blog Style 2</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#">Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="product.html">Shop Page</a></li>
                <li><a href="product-detail.html">Shop Single</a></li>
                <li><a href="404.html">404 Page</a></li>
              </ul>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
  </div>
</section> -->
<!-- / menu -->

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="../assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>T-Shirt</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Product</a></li>
          <li class="active">T-shirt</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- product category -->
<section id="aa-product-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-product-details-area">
          <div class="aa-product-details-content">
            <div class="row">
              <!-- Modal view slider -->
              <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="aa-product-view-slider">
                  <div id="demo-1" class="simpleLens-gallery-container">
                    <div class="simpleLens-container">
                      <div class="simpleLens-big-image-container"><a
                          
                          class="simpleLens-lens-image"><img src='{{image}}' class="simpleLens-big-image"></a></div>
                    </div>
                    <div class="simpleLens-thumbnails-container">
                      <a data-big-image="../assets/img/view-slider/medium/polo-shirt-1.png"
                        data-lens-image="../assets/img/view-slider/large/polo-shirt-1.png"
                        class="simpleLens-thumbnail-wrapper" href="#">
                        <img src="../assets/img/view-slider/thumbnail/polo-shirt-1.png">
                      </a>
                      <a data-big-image="../assets/img/view-slider/medium/polo-shirt-3.png"
                        data-lens-image="../assets/img/view-slider/large/polo-shirt-3.png"
                        class="simpleLens-thumbnail-wrapper" href="#">
                        <img src="../assets/img/view-slider/thumbnail/polo-shirt-3.png">
                      </a>
                      <a data-big-image="../assets/img/view-slider/medium/polo-shirt-4.png"
                        data-lens-image="../assets/img/view-slider/large/polo-shirt-4.png"
                        class="simpleLens-thumbnail-wrapper" href="#">
                        <img src="../assets/img/view-slider/thumbnail/polo-shirt-4.png">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal view content -->
              <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="aa-product-view-content">
                  <h3>{{name}}</h3>
                  <div class="aa-price-block">
                    <span class="aa-product-view-price">${{price * this.item_qty}}</span>
                    <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                  </div>
                  <p>{{short_description}}</p>

                 <div class="color" *ngIf="this.configurableproduct==false">
                    <div *ngIf="this.colour_array1.length !=0">

                      Color

                      <div *ngFor="let colour of colour_array1">

                        <img src="{{colour.optins_values.image}}" (click)="img_click(colour)">

                        <p (click)="img_click(colour)">{{colour.optins_values.options}}</p>
                      </div>
                    </div>
                   <div *ngIf=" new_array.length != 0">

                      Size

                      <div *ngFor="let size of new_array">

                        <img src="{{size.optins_values.image}}" alt="not found" (click)="img_click(size)">
                        <p (click)="size_click(size)">{{size.optins_values.options}}</p>

                      </div>

                    </div>
                    <div class="row" *ngIf="this.size_array1.length != 0">

                      {{this.typeskeys[0]}}

                      <div class="column" *ngFor="let size of size_array1">

                        <img src="{{size.optins_values.image}}" style="width:50px;height:60px;" alt="not found" (click)="img_click(size)">
                        <p (click)="size_click(size)">{{size.optins_values.options}}</p>


                      </div>

                    </div>
                  </div>

                  <!--      <div class="color" *ngIf="this.configurableproduct==false">
                    <div *ngIf="this.colour_array1.length !=0">
                    <h4>Color</h4>
                   <a href="#" class="aa-color-green"></a>
                    <a href="#" class="aa-color-yellow"></a>
                   <a href="#" class="aa-color-pink"></a>                      
                   <a href="#" class="aa-color-black"></a>
                   <a href="#" class="aa-color-white"></a>
                    <div class="aa-color-tag" *ngFor="let colour of colour_array1">
                      <img src="{{colour.optins_values.image}}" (click)="img_click(colour)">
                      <p (click)="img_click(colour)">{{colour.optins_values.options}}</p>                  
                    </div>
                    <div *ngIf=" new_array.length != 0">
                    <h4>Size</h4>
                    <div class="aa-prod-view-size" *ngFor="let size of new_array">
                      <img src="{{size.optins_values.image}}" (click)="img_click(colour)">
                      <p (click)="size_click(size)">{{size.optins_values.options}}</p>
                   <a href="#">S</a>
                      <a href="#">M</a>
                      <a href="#">L</a>
                      <a href="#">XL</a>
                    <img src="{{size.optins_values.image}}" (click)="img_click(colour)">
                    </div>
                    </div>
                    <div *ngIf="this.size_array1.length != 0">
                      <h4>{{this.typeskeys[0]}}</h4>
                      <div *ngFor="let size of size_array1">
                        <img src="{{size.optins_values.image}}" (click)="img_click(size)"/>
                        <p (click)="size_click(size)">{{size.optins_values.options}}</p>
                      </div>
                    </div>
                    </div>
                    </div>-->
                  <div class="aa-prod-quantity">
                    <form [formGroup]="qtyform">
                      QTY

                      <input formControlName="qty" type="number" value="" (change)="changing(qtyform.value)" (click)="incrementQty()" (click)="decrementQty()">

                      <!--       <select id="" name="" (change)="changing(qtyform.value)">
                          <option selected="1" value="0">1</option>
                          <option value="1">2</option>
                          <option value="2">3</option>
                          <option value="3">4</option>
                          <option value="4">5</option>
                          <option value="5">6</option>
                        </select>
                            -->
                    </form>
                    <p class="aa-prod-category">
                      Category: <a href="#">Polo T-Shirt</a>
                    </p>
                  </div>
                  <div class="aa-prod-view-bottom">
                    <a class="aa-add-to-cart-btn" (click)="addtocart(item_qty,sku)">Add To Cart</a>
                    <a class="aa-add-to-cart-btn" (click)="addwishlist(id)">Wishlist</a>
                    <a class="aa-add-to-cart-btn" (click)="compare(id)">Compare</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="aa-product-details-bottom">
            <ul class="nav nav-tabs" id="myTab2">
              <li><a href="#description" data-toggle="tab">Description</a></li>
              <li><a data-toggle="tab" *ngIf="this.rev===true" (click)="Reviews1(4)">Reviews</a></li>
              <li><a data-toggle="tab" *ngIf="this.rev===false" (click)="Reviews(4)">Reviews</a></li>
              <li><a data-toggle="tab" *ngIf="this.rev===true" (click)="Reviews(4)">Reviews</a></li>
              <li><a data-toggle="tab" *ngIf="this.rev===false" (click)="Reviews1(4)">Reviews</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="description">
                <p>{{desc}}</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, culpa!</li>
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor qui eius esse!</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, modi!</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, iusto earum voluptates autem esse
                  molestiae ipsam, atque quam amet similique ducimus aliquid voluptate perferendis, distinctio!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ea, voluptas! Aliquam facere
                  quas cumque rerum dolore impedit, dicta ducimus repellat dignissimos, fugiat, minima quaerat
                  necessitatibus? Optio adipisci ab, obcaecati, porro unde accusantium facilis repudiandae.</p>
              </div>
              <div class="tab-pane fade " *ngIf="this.rev===true">
                <div class="aa-product-review-area" *ngIf="reviewcomment.length !=0">
                  <h4>2 Reviews for T-Shirt</h4>
                  <ul class="aa-review-nav">
                    <li>
                      <div class="media" *ngFor="let review of reviewcomment">
                        <div class="media-left">
                          <a>
                            <img class="media-object" src="../assets/img/testimonial-img-3.jpg" alt="girl image">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><strong>{{review.nickname}}</strong> - <span>{{review.created_at}}</span></h4>
                          <div class="aa-product-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                          </div>
                          <p>{{review.detail}}</p>
                        </div>
                      </div>
                    </li>
               <!--     <li>
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="../assets/img/testimonial-img-3.jpg" alt="girl image">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>
                          <div class="aa-product-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </div>
                    </li>-->
                  </ul>
                  <h4>Add a review</h4>
                  <div class="aa-your-rating">
                    <p>Your Rating</p>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                  </div>
                  <!-- review form -->
                  <form action="" class="aa-review-form">
                    <div class="form-group">
                      <label for="message">Your Review</label>
                      <textarea class="form-control" rows="3" id="message"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
                    </div>

                    <button type="submit" class="btn btn-default aa-review-submit">Submit</button>
                  </form>
                </div>
                <div *ngIf="reviewcomment.length==0">
                    <p>No reviews available for this product!</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Related product -->
          <div class="aa-product-related-item">
            <h3>Related Products</h3>
            <ul class="aa-product-catg aa-related-item-slider">
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/man/polo-shirt-2.png"
                      alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/women/girl-2.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/man/t-shirt-1.png"
                      alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                </figure>
                <figcaption>
                  <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>
                  <span class="aa-product-price">$45.50</span>
                </figcaption>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-hot" href="#">HOT!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/women/girl-3.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/man/polo-shirt-1.png"
                      alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/women/girl-4.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/man/polo-shirt-4.png"
                      alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-hot" href="#">HOT!</span>
              </li>
              <!-- start single product item -->
              <li>
                <figure>
                  <a class="aa-product-img" href="#"><img src="../assets/img/women/girl-1.png" alt="polo shirt img"></a>
                  <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                    <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span
                      class="fa fa-heart-o"></span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                      class="fa fa-exchange"></span></a>
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                    data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <!-- product badge -->
                <span class="aa-badge aa-sale" href="#">SALE!</span>
              </li>
            </ul>
            <!-- quick view modal -->
            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="row">
                      <!-- Modal view slider -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-slider">
                          <div class="simpleLens-gallery-container" id="demo-1">
                            <div class="simpleLens-container">
                              <div class="simpleLens-big-image-container">
                                <a class="simpleLens-lens-image"
                                  data-lens-image="../assets/img/view-slider/large/polo-shirt-1.png">
                                  <img src="../assets/img/view-slider/medium/polo-shirt-1.png"
                                    class="simpleLens-big-image">
                                </a>
                              </div>
                            </div>
                            <div class="simpleLens-thumbnails-container">
                              <a href="#" class="simpleLens-thumbnail-wrapper"
                                data-lens-image="../assets/img/view-slider/large/polo-shirt-1.png"
                                data-big-image="../assets/img/view-slider/medium/polo-shirt-1.png">
                                <img src="../assets/img/view-slider/thumbnail/polo-shirt-1.png">
                              </a>
                              <a href="#" class="simpleLens-thumbnail-wrapper"
                                data-lens-image="../assets/img/view-slider/large/polo-shirt-3.png"
                                data-big-image="../assets/img/view-slider/medium/polo-shirt-3.png">
                                <img src="../assets/img/view-slider/thumbnail/polo-shirt-3.png">
                              </a>

                              <a href="#" class="simpleLens-thumbnail-wrapper"
                                data-lens-image="../assets/img/view-slider/large/polo-shirt-4.png"
                                data-big-image="../assets/img/view-slider/medium/polo-shirt-4.png">
                                <img src="../assets/img/view-slider/thumbnail/polo-shirt-4.png">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal view content -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-content">
                          <h3>T-Shirt</h3>
                          <div class="aa-price-block">
                            <span class="aa-product-view-price">$34.99</span>
                            <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae
                            repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                          <h4>Size</h4>
                          <div class="aa-prod-view-size">
                            <a href="#">S</a>
                            <a href="#">M</a>
                            <a href="#">L</a>
                            <a href="#">XL</a>
                          </div>
                          <div class="aa-prod-quantity">
                            <form action="">
                              <select name="" id="">
                                <option value="0" selected="1">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                                <option value="5">6</option>
                              </select>
                            </form>
                            <p class="aa-prod-category">
                              Category: <a href="#">Polo T-Shirt</a>
                            </p>
                          </div>
                          <div class="aa-prod-view-bottom">
                            <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To
                              Cart</a>
                            <a href="#" class="aa-add-to-cart-btn">View Details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>
            <!-- / quick view modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / product category -->


<!-- Subscribe section -->
<section id="aa-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-subscribe-area">
          <h3>Subscribe our newsletter </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
          <form action="" class="aa-subscribe-form">
            <input type="email" name="" id="" placeholder="Enter your Email">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Subscribe section -->