
<ngx-spinner  size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>  
<div>
    <ul class="aa-product-catg aa-popular-slider"  >
      <!-- start single product item -->
      <div *ngFor="let product of products | async;let i=index">
        <div  *ngFor="let product1 of product.name;let j=index">
        <figure>
          <a class="aa-product-img" (click)="productss(product1.id)"><img src="{{product1.image}}" alt="polo shirt img"></a>
          <a class="aa-add-card-btn"><span class="fa fa-shopping-cart" ></span>Add To Cart</a>
           <figcaption>
            <h4 class="aa-product-title"><a >{{product1.name}}</a></h4>
            <span class="aa-product-price">{{product1.price}}</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                     
        <div class="aa-product-hvr-content">
          <a  data-toggle="tooltip" data-placement="top" title="Add to Wishlist" (click)="addwishlist(product1.id)" ><span class="fa fa-heart-o"></span></a>
          <a  data-toggle="tooltip" data-placement="top" title="Compare"  (click)="compare(product1.id)" ><span class="fa fa-exchange"></span></a>
          <a  data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
        </div>
        <span class="aa-badge aa-sale">SALE!</span>  
   </div>
   </div>
                                                                                       
    </ul>

  </div>