<ngx-spinner  size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>  
  <div>
    <ul class="aa-product-catg aa-popular-slider">
      <!-- start single product item -->
      <li *ngFor="let datas of items;let i=index">
        <figure>
          <a class="aa-product-img" ><img src="{{datas?.image}}" alt="polo shirt img"></a>
          <a class="aa-add-card-btn" (click)="addtocart(datas.sku)"><span class="fa fa-shopping-cart" ></span>Add To Cart</a>
           <figcaption>
            <h4 class="aa-product-title"><a>{{datas.name}}</a></h4>
            <span class="aa-product-price">{{datas.price}}</span><span class="aa-product-price"><del>$65.50</del></span>
          </figcaption>
        </figure>                     
        <div class="aa-product-hvr-content">
          <a  data-toggle="tooltip" data-placement="top" title="Add to Wishlist" (click)="addwishlist(datas.id)" ><span class="fa fa-heart-o"></span></a>
        </div>
        <!-- product badge -->
        <span class="aa-badge aa-sale">SALE!</span>
        <span class="aa-badge aa-sale" (click)="delete(datas.id)">Delete</span>
        <!-- <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
        <span class="aa-badge aa-hot" href="#">HOT!</span> -->
        <div *ngIf="items3" class="tables">
            <table>
          <thead>
               <tr>           
                <th>key</th>
                <th>value</th>
               </tr>
          </thead>
          <tbody>
               <tr *ngFor="let items of items3[i]">           
                 <td style="padding: 5px 5px;">{{items.key}}:</td>
                 <td style="padding: 5px 5px;">{{items.value}}</td>
               </tr>
          </tbody>
        </table>
       </div>
      </li>
                                                                                       
    </ul>
   
</div>