
<ul class="nav navbar-nav">
    <li><a >Store list <span class="caret"></span></a>
      <ul class="dropdown-menu">                
        <li *ngFor="let store of source"><a (click)="select(store.sourceCode)">{{store.sourceCode}}</a></li>
        </ul>
    </li>

    <ngx-spinner  size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
        </ngx-spinner>  
      <div>
        <ul class="aa-product-catg aa-popular-slider">
          <!-- start single product item -->
          <li *ngFor="let data of sourcelists">
            <figure  (click)="product(data.id)">
              <a class="aa-product-img" ><img src="{{data.image}}" alt="polo shirt img"></a>
              <a class="aa-add-card-btn" (click)="addtocart(data.sku)"><span class="fa fa-shopping-cart" ></span>Add To Cart</a>
               <figcaption>
                <h4 class="aa-product-title"><a>{{data.name}}</a></h4>
                <span class="aa-product-price">{{data.price}}</span><span class="aa-product-price"><del>$65.50</del></span>
              </figcaption>
            </figure>                     
            <div class="aa-product-hvr-content">
              <a  data-toggle="tooltip" data-placement="top" title="Add to Wishlist" (click)="addwishlist(data.id)" ><span class="fa fa-heart-o"></span></a>
              <a  data-toggle="tooltip" data-placement="top" title="Compare" (click)="compare(data.id)" ><span class="fa fa-exchange"></span></a>
              <a  data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                            
            </div>
            <!-- product badge -->
            <span class="aa-badge aa-sale">SALE!</span>
            <!-- <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
            <span class="aa-badge aa-hot" href="#">HOT!</span> -->
          </li>
                                                                                           
        </ul>
       
      </div>