
<h1>QuoteConversation</h1>
<body>
    <div *ngIf="this.nodata==false">
    <div *ngFor="let data of conversations;let i=index">

        <h4>Sender:{{data.sender}},Receiver:{{data.receiver}}</h4>
        <p>ReceiverEmail:{{data.receiver_email}}</p>


        <label>Conversations:{{data.conversation}}</label>
<br>

        <label>Created on:{{data.created_at}}</label>

    </div>
</div>
    <div *ngIf="this.nodata==true">

        <p>No QuoteConversations done!
        </p>

    </div>
</body>