
<div *ngFor="let data of myorder;let i=index">
    <img src="{{data?.image}}" alt="fashion img">
    Product name:{{data.peoduct_name}}
    OrderId:{{data?.order_id}},qty:{{data?.qty}}
    GrandTotal:{{data?.grand_total}}
    <button (click)="ViewDetails(i)">view details</button>
</div>

<div *ngIf="this.nodata==true">
    No orders done!
    </div>
<div *ngIf="this.detailspage==true">
    <img alt="not found" src="{{image}}"/>
    Ordered on: {{createdon}}
    {{productname}}
    OrderID:{{orderid}}
    Status:{{status}}

    PriceDetails
    Grand Total:{{grandtotal}}
    Shipping amount:{{shipingamount}}
    Subtotal:{{subtotal}}
    Price you Pay:{{grandtotal}}
    AddressDetails
    Email:{{customeremail}}
    <button (click)="reorder1()">view details</button>
    <button (click)="cancelorder()">cancel order</button>
</div>