<h4>Register</h4>
<form action="" class="aa-login-form" [formGroup]="form">
    <label for="">Username or Email address<span>*</span></label>
    <input type="text" placeholder="Username or email" formControlName="email">
    <label for="">FirstName<span>*</span></label>
    <input type="text" placeholder="FirstName" formControlName="firstname">
    <label for="">LastName<span>*</span></label>
    <input type="text" placeholder="LastName" formControlName="lastname">
    <label for="">Password<span>*</span></label>
    <input type="password" placeholder="Password" formControlName="password">
    <button type="submit" class="aa-browse-btn" (click)="register()">Register</button>

</form>
