
<section id="aa-catg-head-banner">
    <img src="assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
       <div class="aa-catg-head-banner-content">
         <h2>Cart Page</h2>
         <ol class="breadcrumb">
           <li><a href="index.html">Home</a></li>                   
           <li class="active">Cart</li>
         </ol>
       </div>
      </div>
    </div>
   </section>
   <!-- / catg header banner section -->
 
  <!-- Cart view section -->
  <section id="cart-view">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cart-view-area">
            <div class="cart-view-table">
              <form action="">
                <div class="table-responsive">
                   <table class="table">
                     <thead>
                       <tr>
                         <th *ngIf="showSelected"></th>
                         <th></th>
                         <th>Product</th>
                         <th>Price</th>
                         <th>Quantity</th>
                         <th>Total</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let item of allcartlist1;let i=index">
                         <td *ngIf="showSelected"><a (click)="removecart(item.item_id)" ><a class="fa fa-close"></a></a></td>
                         <td><a><img src='{{item.image}}'alt="img"></a></td>
                         <td><a class="aa-cart-title">{{item.product_name}}</a></td>
                         <td>${{item.price}}</td>
                         <td>
                        <button (click)="decreaseQty1(i,item.product_id)" (change)="checkqty(i)" *ngIf="showSelected">-</button>
                        
                          {{this.allcartlist1[i].qty}}
                        
                          <button (click)="incrementQty1(i,item.product_id)" (change)="checkqty(i)" *ngIf="showSelected">+</button>
                            
                         </td>
                         <td>${{item.price * this.allcartlist1[i].qty}}</td>
                       </tr>
                    
                       <tr>
                         <td colspan="6" class="aa-cart-view-bottom">
                           <div class="aa-cart-coupon">
                             <input class="aa-coupon-code" type="text" placeholder="Coupon">
                             <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                           </div>
                           <input class="aa-cart-view-btn" type="submit" value="Update Cart" (click)="flip()">
                         </td>
                       </tr>
                       </tbody>
                   </table>
                 </div>
              </form>
              <!-- Cart Total view -->
              <div class="cart-view-total">
                <h4>Cart Totals</h4>
                <table class="aa-totals-table">
                  <tbody>
                    <tr>
                      <th>Subtotal</th>
                      <td>$</td>
                    </tr>
                    <tr >
                      <th>Total</th>  
                      <td>${{price}}</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="aa-cart-view-btn" (click)="gotocheckout()">Proced to Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>